:root {
    --bg-color: #121212;
    --text-color: #ffffff;
    --cell-bg: #1e1e1e;
    --accent: #bb86fc;
}

/* الأوضاع المختلفة */
body.light-mode { --bg-color: #f0f2f5; --text-color: #333; --cell-bg: #fff; --accent: #007bff; }
body.dark-mode { --bg-color: #121212; --text-color: #fff; --cell-bg: #1e1e1e; --accent: #bb86fc; }
body.blue-mode { --bg-color: #001f3f; --text-color: #7fdbff; --cell-bg: #003366; --accent: #39cccc; }
body.neon-mode { --bg-color: #000; --text-color: #39ff14; --cell-bg: #111; --accent: #ff00ff; }
* {
    touch-action: manipulation;
}

body{
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s ease;
}
body > p{
    color: var(--text-color);
}
body .container{
    width: 500px;
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container { text-align: center; }
.theme-selector { margin-bottom: 15px; }
label {
  color: var(--text-color);
  font-size: 16px;
  margin-right: 8px;
}

#themeSelect {
  padding: 10px 14px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid var(--accent);
  background: rgba(0, 0, 0, 0.4);
  color: var(--text-color);
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
}

#themeSelect:hover {
  background: var(--bg-color);
}

#themeSelect:focus {
  border-color: var(--accent);
  box-shadow: 0 0 10px var(--accent);
}

#themeSelect option {
  background: var(--bg-color);
  color: var(--text-color);
}
#themeSelect option {
    
}

.score-board { margin-bottom: 10px; font-size: 1.2rem; color: var(--accent); }

#status { margin-bottom: 20px; font-size: 1.5rem; font-weight: bold; }

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    grid-gap: 10px;
    margin-bottom: 20px;
}
.cell {
    width: 100px;
    height: 100px;
    background-color: var(--cell-bg);
    border: 2px solid var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    transition: background 0.3s;
    color: var(--text-color);
}

.cell.active{
    cursor:default;

}
.cell:hover { opacity: 0.8; }
.cell.active:hover{
    opacity: 1;
}
#restart {
    padding: 10px 20px;
    background-color: var(--accent);
    color: var(--text-color) ;
    font-size: 18px;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#restart.clicked {
  transform: scale(0.97);
}
@media (max-width: 575px) {
  .container{
    width: 100%;
  }
}
